body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #F9F8EB;
}

main{
   width: 24.06rem;
   height: 40.06rem;
   display: flex;
   flex-direction: column;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
   align-items: center;  
}

.frame{
    width: 24.06rem;
    height: 40.06rem;
    background-image: url(/img/phone.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    pointer-events: none;
}

.header{
    width: 17rem;
    height: 9.5rem;
    background-image: url(./img/header.jpg);
    position: relative;
    top: 2rem;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 0 0;
}

h1{
    position: relative;
    text-transform: uppercase;
    top: 1.5rem;
    left: 2rem;
    color: #D33B23;
    text-shadow: 1px 2px 1px #F9F8EB;
}

.functionaltiy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.search{
    width: 20%;
    background-color: #f9f8ebbd;
    padding: 0.2rem 1rem;
    border-radius: 23px;
    border: 2px solid #3F7645;
    transition: width 2s;
    display: flex;
    overflow: hidden;
}

.search:hover,.search:focus{
    width: 50%;
    outline: #3F7645;
    box-shadow: 8px 8px 10px rgba(97, 241, 106, 0.36);
    
}

.search-img{
    width: 15px;
    height: 20px;
}

.search>input,.search>input:focus{
    background: transparent;
    border: none;
    outline: none;
    color: #D33B23;
    text-overflow: ellipsis;
}


.add{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: rgba(114, 171, 118, 0.36);
    border: 2px solid #3F7645;
}

.add > img{
    width: 23px;
    height: 23px;
}

.book{
    margin-top: 1rem;
    background-color: #EBF9ED;
    width: 17rem;
    height: 28rem;
    border-radius:0 0 25px 25px;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #72AB76;
    padding:.8rem;
    text-transform: capitalize;
}

.contact:nth-child(1){
    margin-top: 1rem;
}

.pfp{
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
}

.call{
    width: 2em;
    height:2rem;
}

.contact>p{
    width: 50%;
    font-weight: 600;
    color: #2b5b31;
    font-style: italic;
}

form{
    width: 12rem;
    height:auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background:url("https://i.pinimg.com/564x/8a/01/e9/8a01e90bff11ed3c18a154a5e901554e.jpg");
    background-position: center;
    background-size: contain;
    border: 5px double #2b5b31;
    font-size: 18px;
}

#close{
    position:absolute;
    right: 2rem;
    top: 9.5rem;
    font-size: 1rem;
    color: #D33B23;
    text-decoration: none;
    font-weight: 600;
}
form>input{
    margin: .5rem 0;
    padding:.5rem 1rem;
    background-color: rgba(240, 255, 255, 0.652);
    border-radius: 5px;
    border: none;
    
}

label{
    font-weight: 600;
    color: #02470a;
}

#add{
    width:max-content;
    padding: .5rem 1rem;
    border-radius: 25px;
    position: relative;
    left: 5rem;
    color: #F9F8EB;
    background-color: #D33B23;
}

.search-results{
    position: absolute;
    top: 3rem;
    background-color: #00a84b;
    padding:.2rem .5rem;
    border-radius: 9px;
    color: #d0efd6;
}
